<% provide(:title, "Edit profile") %>
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :location %>
	<%= f.text_field :location %>

	<%= link_to "Change your password", edit_user_registration_path %>

	<%= f.submit "Save changes" %>
<% end %>
